.form-button {
  width: 100%;
  margin: 12.5px 12.5px 12.5px 12.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button-lagre {
  padding: 12px 15px 12px 15px;
  font-weight: 500;
  border: 0px;
  margin: 3px 10px 3px 10px;
}

form {
  width: 100%;
}

form > input {
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  width: 60%;
}
